* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #ffffff, #8dbeff);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 50px 30px;
    background: linear-gradient(to bottom, #7faeff, transparent);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 75px;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 0px;
}

.navbar-logo span {
    font-size: 30px;
    font-weight: bold;
    color: #2c3e50;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: -28px;
    height: calc(100vh - 137px);
}
.left-section {
    width: 52%;
    padding: 130px;
    padding-top: 15px;
    margin-top: -75px;
}

.left-section h1 {
    font-size: 60px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

.left-section p {
    font-size: 29px;
    color: #2c3e50;
}

.right-section {
    width: 50%;
}

.containerIndex {
    text-align: center;
    padding: 48px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 75px;
    width: 750px;
    margin-top: -75px;
}

.containerResult {
    text-align: center;
    padding: 48px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 75px;
    width: 750px;
    margin-left: 530px;
    margin-top: -150px;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

textarea {
    width: 90%;
    height: 350px;
    padding: 16px;
    border-radius: 21px;
    border: 1px solid #bdc3c7;
    font-size: 16px;
    resize: none;
}

textarea:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button {
    background-color: #7dbaff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Notification */
#notification {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

#notification.show {
    display: block;
    opacity: 1;
}

#notification.hide {
    opacity: 0;
    transition: opacity 0.3s ease, display 0.3s ease;
}
