# Python-specific ignores
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
.eggs/
*.log

mbti/MBTI 500.csv
mbti/MBTI500.csv

# Virtual environment
env/
venv/

# Django-specific
db.sqlite3
*.sqlite3

# IDEs
.vscode/
.idea/

# Static and media files (optional, adjust as needed)
static/
media/

local_settings.py